footer {
  background: maroon;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}

section {
  background-color: white;
  padding: 14px;
}

p {
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
