footer {
  background: maroon;
  text-align: center;
  padding: 10px;
  width: 100%;
  /* Remove the fixed positioning */
  position: static;
  left: 0;
}

footer section {
  background-color: white;
  padding: 14px;
  margin: 0; /* Reset any margins */
}

footer p {
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
