---
import Navbar from '../components/Navbar.jsx';
---

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
</head>
<body>
	<Navbar client:load />
	<article>
		<slot />
	</article>
</body>